@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+JP:wght@500&family=Roboto:ital,wght@0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;

}
body {
    font-family: Noto Sans JP, sans-serif;
    font-weight: 300;
}
p {
    font-family: Noto Sans JP, sans-serif;
    font-weight: 200;
    padding-left: 2%;
    padding-bottom: 1%;
}
li {
    font-family: Noto Sans JP, sans-serif;
    font-weight: 200; 
    padding-left: 3%; 

}

div {
    padding-bottom: 2%;
}
/* Headings and logos - inspired by love running page*/

h1 {
    letter-spacing: 4px;
    color: ivory;
    padding-bottom: 2%;
}
#logo {
    float: left;
    font-size: 280%;
}

h2, h3 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding-bottom: 1%;
    scroll-padding-top: 2%;
}
/*navigation links - inspired by love running page*/
#menu {
    font-size: 120%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}
#menu a:hover {
    border-bottom: 3px solid #ECE6E0;
}
.active {
    border-bottom: 3px solid #ECE6E0;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: #ECE6E0;
}
/*hero image */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero_image.jpg') no-repeat center center;
}

/* page background */
#site-enter-gurps {
    background: #f0dac2 none;
}  /*inspired by https://www.dndbeyond.com/ */

/*sections*/
.section{
    margin: auto;
    width: 75%; 
    max-width: 940px; /* witht inspired by https://www.dndbeyond.com/ */
    border: 5px;
    padding: 10px;
} /*inspired by https://careerkarma.com/blog/css-box-model/ */

.section p{
    padding-bottom: 8px;
    line-height: 1.8;
    margin: 5px;
}

.section h2 h3 {
    padding-bottom: 2%;
}
.bullet-points li {
    list-style-type: disc;
    list-style-position: inside;
    padding-bottom: 10px;
    padding-left: 5%;
    line-height: 1.8;
}
/*subsections*/
.subsection {
    margin: 5px;
}

/* section images*/
.section-images {
    margin: auto;
    width: 70% ;
    max-width: 800px ;
    height: auto;
    padding: 0px; 
    /*border: 5px solid black;*/
}

.section-images img {
    width: 100%;
    height: 100%;
    margin: 0;
}
#no_bacground{
    background-color:rgb(230, 221, 221);
    padding: 5px;
}
/*header*/
.header {
    height:65px;
    background-color: black;
    padding-bottom: auto; 
}
/*footer*/
footer {
    height: 150px;
}
.social-media {
    text-align: center;
}
.social-media > li {
    display: inline;
}
.social-media i {
    font-size: 300%;
    color:#2B2C2C;
    margin: 1%;
    padding: 5%;
}